.sfdx/
.sf/
.vscode/
IlluminatedCloud/
.idea/


# MacOS system files
.DS_Store

.dccache
session.properties

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

**/objects/Account/**
!**/objects/Account/fields/OldField__c.field-meta.xml
!**/objects/Account/fields/NewField__c.field-meta.xml
!**/objects/Account/fields/NewEqualsNewField__c.field-meta.xml

**/profiles/Admin.profile-meta.xml
